<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>items</key>
   <array>
       <dict>
           <key>assets</key>
           <array>
               <dict>
                   <key>kind</key>
                   <string>software-package</string>
                   <key>url</key>
                   <string>http://192.168.1.108:8080/ProjectDC_bili_ce2_iOS/0.6.0.21872/ProjectDC_bili_ce2_0.6.0.21872.ipa</string>
               </dict>
               <dict>
                   <key>kind</key>
                   <string>display-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>http://192.168.1.108/AppIcon.png</string>
               </dict>
           </array>
           <key>metadata</key>
           <dict>
               <key>bundle-identifier</key>
               <string>com.cookiegame.dc.apps</string>
               <key>bundle-version</key>
               <string>0.6.0.21872</string>
               <key>kind</key>
               <string>software</string>
               <key>title</key>
               <string>ProjectDC</string>
           </dict>
       </dict>
   </array>
</dict>
</plist>
